<template>
  <div v-click-outside="hideMenu" class="w-full relative">
    <div class="mt-1 flex rounded-md shadow-sm">
      <input
        ref="searchBox"
        :value="search"
        type="text"
        :class="inputClass"
        :placeholder="placeholder"
        :readonly="readonly"
        @blur="onBlur"
        @focus="showSearchItems = true"
        @input="onInput"
      />
    </div>
    <font-awesome-icon
      class="
        text-primary text-xl
        absolute
        right-4
        mt-[2px]
        top-1/3
        pointer-events-none
      "
      icon="fa-solid fa-angle-down"
    />
    <aside
      v-if="filteredList.length > 0 && showSearchItems == true"
      class="
        absolute
        w-full
        z-10
        flex flex-col
        items-start
        max-h-72
        overflow-y-scroll
        bg-white
        border
        rounded-md
        shadow-md
        mt-1
      "
      role="menu"
    >
      <ul class="flex flex-col w-full">
        <li
          v-for="(item, index) in filteredList"
          :key="index"
          search
          class="
            px-2
            py-3
            space-x-2
            hover:bg-primary hover:text-white
            focus:bg-primary focus:text-white focus:outline-none
          "
          :class="item == selectedItem ? 'bg-primary-light text-primary' : ''"
          @click="
            selectSearchItem(item)
            showSearchItems = false
          "
        >
          {{ item[itemText] }}
        </li>
      </ul>
    </aside>
  </div>
</template>

<script>
import ClickOutside from 'vue-click-outside'

export default {
  name: 'Autocomplete',
  directives: {
    ClickOutside,
  },
  props: {
    value: {
      type: undefined,
      required: true,
    },
    items: {
      type: Array,
      default() {
        return []
      },
    },
    placeholder: {
      type: String,
      default: 'Search here...',
    },
    inputClass: {
      type: String,
      default:
        'w-full px-5 py-3 border border-gray-400 rounded-lg outline-none',
    },
    itemText: {
      type: String,
      default: 'text',
    },
    itemValue: {
      type: String,
      default: 'value',
    },
    returnObject: {
      type: Boolean,
      default: false,
    },
    readonly: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      search: '',
      selectedItem: null,
      showSearchItems: false,
      isMouseOverList: false,
      searchItemList: this.items,
      typing: false,
    }
  },
  computed: {
    filteredList() {
      if (this.typing) {
        return this.searchItemList.filter((item) => {
          return item[this.itemText]
            .toLowerCase()
            .includes(this.search.toLowerCase())
        })
      } else {
        return this.searchItemList
      }
    },
  },
  watch: {
    search(val) {
      if (val === '') {
        this.$emit('input', val)
      }
    },
    value: {
      immediate: true,
      handler(val) {
        if (val) {
          if (this.returnObject) {
            this.selectedItem = val
            if (typeof val !== 'object') {
              this.search = '[Object object]'
            } else {
              this.search = val[this.itemText]
            }
          } else {
            this.selectedItem = this.items.find(
              (obj) => obj[this.itemValue] === val
            )
            this.search = this.selectedItem[this.itemText]
          }
        }
      },
    },
    items: {
      immediate: true,
      handler(val) {
        if (val) {
          this.searchItemList = val
        }
      },
    },
  },
  methods: {
    selectSearchItem(item) {
      this.search = item[this.itemText]
      this.showSearchItems = false
      this.$emit('input', this.returnObject ? item : item[this.itemValue])
    },
    hideMenu() {
      if (this.showSearchItems === true) {
        this.showSearchItems = false
      }
    },
    onInput(event) {
      this.typing = true
      this.showSearchItems = true
      this.search = event.target.value
    },
    onBlur() {
      setTimeout(() => {
        this.typing = false
      }, 500)
    },
  },
}
</script>