<!-- Please remove this file from your project -->
<template>
  <div class="flex flex-col">
    <Modal
      v-model="showModal"
      title="Remove favorite"
      description="Are you sure you want to remove this image from your
                        favorites? This action is not reversible."
      accept-text="Remove"
      @accept="removeFavorite"
    />
    <div
      class="rounded bg-white overflow-hidden shadow-lg"
      :class="{ 'flex-1': hasBreed }"
    >
      <div class="relative" :class="{ hidden: !isLoaded }">
        <div
          class="
            absolute
            right-0
            w-12
            h-12
            m-2
            transition-all
            ease-in
            duration-150
            text-white
            flex
            items-center
            justify-center
            text-xl
            rounded-full
            bg-black bg-opacity-40
            hover:bg-white hover:bg-opacity-80 hover:text-red-600
          "
          @click="isFavorite ? confirmRemoval() : setFavorite()"
        >
          <font-awesome-icon v-if="isFavorite" icon="fa-solid fa-trash" />
          <font-awesome-icon v-else icon="fa-solid fa-heart" />
        </div>
        <!-- Image -->
        <img
          class="w-full object-cover select-none"
          :class="isFavorite ? 'h-72' : 'h-64'"
          :src="image"
          alt="Cat image"
          @load="onImageLoad"
        />
        <!-- Breed info -->
        <div v-if="showBreed" class="px-6 py-4">
          <div v-if="hasBreed">
            <div class="font-bold text-xl mb-2">
              <span class="card-label">Breed:</span>
              {{ breed.name }}
            </div>
            <span class="card-label">Origin:</span>
            <span
              class="
                inline-block
                bg-gray-200
                rounded-full
                px-3
                py-1
                text-sm
                font-semibold
                text-gray-700
                mr-2
                mb-2
              "
              >{{ breed.origin }}</span
            >
            <p class="text-gray-700 text-base">
              <span class="card-label">Description:</span
              >{{ breed.description }}
            </p>
          </div>
          <div v-else>
            <span class="text-lg font-bold text-gray-400">Unknown breed</span>
          </div>
        </div>
      </div>
    </div>
    <!-- Skeleton loader -->
    <div
      v-if="!isLoaded"
      class="border border-gray-300 shadow rounded-lg w-full mx-auto"
    >
      <div class="animate-pulse flex flex-col">
        <div class="rounded-md bg-gray-300 md:h-48 h-40 w-full"></div>
        <div class="flex-1 space-y-4 p-4">
          <div class="h-4 bg-gray-300 rounded w-1/2"></div>
          <div class="space-y-2">
            <div class="h-4 bg-gray-300 rounded"></div>
            <div class="h-4 bg-gray-300 rounded w-4/12"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Card',
  props: {
    catId: {
      type: String,
      default: '',
    },
    image: {
      type: String,
      default: '',
    },
    breed: {
      type: Object,
      default() {
        return {}
      },
    },
    showBreed: {
      type: Boolean,
      defaullt: false,
    },
    favoriteId: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      isLoaded: false,
      showModal: false,
    }
  },
  computed: {
    hasBreed() {
      return Object.keys(this.breed).length !== 0
    },
    isFavorite() {
      return this.favoriteId !== ''
    },
  },
  methods: {
    onImageLoad() {
      this.isLoaded = true
    },
    setFavorite() {
      this.$axios
        .$post(`favourites`, {
          image_id: this.catId,
          sub_id: 'cmfc31',
        })
        .then(() => {
          this.$toast('Image marked as favorite!')
        })
        .catch(() => {
          this.$toast.error('Image is already in your favorites.')
        })
    },
    confirmRemoval() {
      this.showModal = true
    },
    removeFavorite() {
      this.$axios
        .$delete(`favourites/${this.favoriteId}`)
        .then(() => {
          this.$toast('Image removed from favorites.', { timeout: 2000 })
          setTimeout(() => {
            this.showModal = false
          }, 1500)
          setTimeout(() => {
            window.location.reload(true)
          }, 2200)
        })
        .catch(() => {
          this.$toast.error('Something went wrong.')
        })
    },
  },
}
</script>
