<template>
  <header
    class="
      w-full
      shadow-logo-header
      justify-center
      flex
      h-16
      md:h-20
      relative
      bg-primary-dark
      text-white
    "
  >
    <div
      class="w-full flex items-center container justify-between px-5 lg:px-0"
    >
      <div class="flex items-center">
        <div class="text-lg md:text-3xl font-bold">
          <div>
            <NuxtLink to="/">
              <font-awesome-icon icon="fa-solid fa-cat" />
              CatApi Client
            </NuxtLink>
          </div>
          <div
            class="mt-1 text-base font-normal invisible h-0 md:h-6 md:visible"
          >
            API by
            <a
              target="_blank"
              href="https://thecatapi.com/"
              class="text-primary-light"
              >thecatapi.com</a
            >
          </div>
        </div>
      </div>
      <div class="flex space-x-2">
        <a href="https://gitlab.com/cmfc31/catapi-client" target="_blank">
          <div
            class="
              relative
              h-12
              w-12
              sm:w-auto
              px-5
              flex
              items-center
              justify-center
              text-xl
              hover:bg-primary hover:text-primary-light
              rounded-full
            "
          >
            <span class="hidden sm:block text-lg font-bold mr-2">Repo</span>
            <font-awesome-icon icon="fa-brands fa-gitlab" />
          </div>
        </a>
        <NuxtLink to="/favorites">
          <div
            class="
              relative
              h-12
              px-5
              flex
              items-center
              justify-center
              text-xl
              hover:bg-primary hover:text-primary-light
              rounded-full
            "
          >
            <span class="text-lg font-bold mr-2">Favorites</span>
            <font-awesome-icon icon="fa-regular fa-heart" />
          </div>
        </NuxtLink>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  name: 'Header',
}
</script>
