<template>
  <div class="flex justify-end">
    <ul>
      <!-- Previous button -->
      <li class="pagination-item">
        <button
          type="button"
          :disabled="isInFirstPage"
          class="btn-pag"
          :class="{ 'btn-disabled': isInFirstPage }"
          @click="goPrevious"
        >
          <font-awesome-icon icon="fa-solid fa-angle-left" />
        </button>
      </li>

      <!-- Page buttons iteration -->
      <li v-for="page in pages" :key="page.name" class="pagination-item">
        <div
          v-if="isPageActive(page.name)"
          class="btn-pag btn-active pointer-events-none"
        >
          {{ page.name }}
        </div>
        <a
          v-else
          class="btn-pag"
          href="#"
          role="button"
          @click.prevent="goPageClick(page.name)"
        >
          {{ page.name }}
        </a>
      </li>

      <!-- Next button -->
      <li class="pagination-item">
        <button
          type="button"
          :disabled="isInLastPage"
          class="btn-pag"
          :class="{ 'btn-disabled': isInLastPage }"
          @click="goNext"
        >
          <font-awesome-icon icon="fa-solid fa-angle-right" />
        </button>
      </li>
    </ul>
  </div>
</template>

<script >
export default {
  name: 'Pagination',
  props: {
    value: {
      type: Number,
      required: true,
    },
    totalVisible: {
      type: Number,
      default: 3,
    },

    totalPages: {
      type: Number,
      required: true,
    },
    perPage: {
      type: Number,
      required: true,
    },
  },

  computed: {
    startPage() {
      if (this.value === 1) {
        return 1
      }

      if (this.value === this.totalPages) {
        if (this.value < this.totalVisible) {
          return 1
        } else {
          return this.totalPages - this.totalVisible + 1
        }
      }

      return this.value - 1
    },
    endPage() {
      return Math.min(this.startPage + this.totalVisible - 1, this.totalPages)
    },
    pages() {
      const range = []

      for (let i = this.startPage; i <= this.endPage; i += 1) {
        range.push({
          name: i,
          isDisabled: i === this.value,
        })
      }
      return range
    },
    isInFirstPage() {
      return this.value === 1
    },
    isInLastPage() {
      return this.value === this.totalPages
    },
  },

  methods: {
    goPrevious() {
      this.$emit('input', this.value - 1)
    },
    goPageClick(page) {
      this.$emit('input', page)
    },
    goNext() {
      this.$emit('input', this.value + 1)
    },
    isPageActive(page) {
      return this.value === page
    },
  },
}
</script>


<style scoped lang="postcss">
.pagination-item {
  @apply inline-block;
}

.btn-pag {
  @apply rounded-full shadow-md h-10 w-10 flex justify-center items-center px-3 py-2 bg-white text-gray-800 font-bold no-underline mx-1;
}

.btn-active {
  @apply bg-primary text-white shadow-lg;
}

.btn-disabled {
  @apply text-gray-300;
}
</style>