@tailwind base;
@tailwind components;
@tailwind utilities;

/* If VS Code marks an unknonw warning here, install the PostCSS Language Support extension */

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}

.card-label {
  @apply text-primary-dark font-bold mr-1 text-[1.1rem];
}

.breed-label {
  @apply text-primary-dark font-bold mr-1 text-[1.4rem];
}

.custom-input {
  @apply w-full px-5 py-3 border-2 border-gray-400 rounded-lg outline-none focus:border-primary;
}