<template>
  <div class="min-h-screen bg-gray-200">
    <Header />
    <Nuxt />
  </div>
</template>

<script>
export default {
  name: 'Default',
  head() {
    return {
      titleTemplate: '%s - CatApi Client',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'Nuxt.js client for thecatapi',
        },
      ],
    }
  },
}
</script>
