<template>
  <div>
    <section class="max-w-[90%] xl:max-w-[70%] m-auto">
      <!-- Title and filters -->
      <div class="flex flex-row flex-wrap justify-between items-center mt-5">
        <h3 class="text-2xl font-bold heading-font-brand">
          Martin's favorites
        </h3>
        <div
          class="
            w-full
            mt-5
            md:mt-0 md:w-1/2
            xl:w-4/12
            flex flex-row
            justify-end
            items-center
          "
        >
          <span class="text-lg font-bold w-20">Order</span>
          <Autocomplete
            v-model="selectedOrder"
            :items="favOrder"
            input-class="custom-input"
            placeholder="Select order..."
            item-text="desc"
            item-value="id"
            readonly
          />
        </div>
      </div>
      <!-- Favorite cards -->
      <main
        class="
          w-full
          grid grid-cols-1
          sm:grid-cols-2
          lg:grid-cols-3
          gap-4
          md:gap-6
          max-w
          py-8
        "
      >
        <Card
          v-for="fav in favData"
          :key="fav.image_id"
          :cat-id="fav.image_id"
          :image="fav.image.url"
          :favorite-id="fav.id"
        />
      </main>
      <!-- Pagination -->
      <div class="flex justify-center pb-6">
        <Pagination
          v-model="currentPage"
          :total-pages="totalPages"
          :per-page="perPage"
        />
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: 'Favorites',
  transition: 'fade',
  data() {
    return {
      favData: [],
      // Sort
      selectedOrder: 'DESC',
      favOrder: [
        { id: 'DESC', desc: 'Newest first' },
        { id: 'ASC', desc: 'Oldest first' },
      ],
      // Pagination
      totalPages: 1,
      perPage: 6,
      currentPage: 1,
    }
  },
  head() {
    return {
      title: 'Favorites',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'My favorites cat pics',
        },
      ],
    }
  },
  watch: {
    currentPage() {
      if (window.innerWidth < 640) {
        window.scrollTo(0, 0)
      }
      this.fetchFavorites()
    },
    selectedOrder() {
      this.fetchFavorites()
    },
  },
  created() {
    this.fetchFavorites()
  },
  methods: {
    async fetchFavorites() {
      this.favData = []
      for (let i = 0; i < this.perPage; i++) {
        this.favData.push({ id: i.toString(), image: '', breeds: [] })
      }

      // Checking how many favorites are available to adjust pagination legth
      const favTotal = await this.$axios.$get(`favourites`).catch(() => {
        // console.log(`Error fetch: ${error}`)
      })

      if (favTotal) {
        this.totalPages = Math.ceil(favTotal.length / this.perPage)
      }

      // Fetch paginated favorites
      const data = await this.$axios
        .$get(
          `favourites?page=${this.currentPage - 1}&limit=${
            this.perPage
          }&order=${this.selectedOrder}`
        )
        .catch(() => {
          // console.log(`Error fetch: ${error}`)
        })

      this.favData = data
    },
  },
}
</script>
