<template>
  <div>
    <section class="relative max-w-[90%] xl:max-w-[70%] m-auto">
      <!-- Search bars and filters -->
      <div class="w-full p-5 flex flex-row flex-wrap justify-end items-center">
        <div
          class="
            w-full
            mb-2
            md:mb-0 md:w-1/2 md:pr-2
            xl:w-4/12
            flex flex-row
            justify-end
            items-center
          "
        >
          <span class="text-lg font-bold w-20">Breed</span>
          <Autocomplete
            v-model="selectedBreed"
            :items="breedTypes"
            input-class="custom-input"
            placeholder="Filter by breed..."
            item-text="name"
            item-value="id"
            return-object
          />
        </div>
        <div
          class="
            w-full
            md:w-1/2
            xl:w-4/12
            flex flex-row
            justify-end
            items-center
          "
        >
          <span class="text-lg font-bold w-20">Order</span>
          <Autocomplete
            v-model="selectedOrder"
            :items="orderTypes"
            input-class="custom-input"
            placeholder="Select order..."
            item-text="name"
            item-value="value"
            readonly
          />
        </div>
      </div>
      <!-- Breed information card -->
      <div
        v-if="filterByBreed && selectedBreed.name !== ''"
        class="flex justify-center"
      >
        <div
          class="
            relative
            bg-white
            rounded-lg
            text-left
            overflow-hidden
            shadow-md
            sm:my-5 sm:w-full
            flex
            justify-center
          "
        >
          <div class="bg-white px-10 pt-5 py-4 sm:px-6 sm:py-4 md:max-w-[90%]">
            <div class="flex flex-col sm:flex-row sm:items-center sm:px-4">
              <font-awesome-icon
                icon="fa-solid fa-circle-info"
                class="text-primary-dark text-4xl md:text-5xl"
              />
              <div class="mt-3 sm:mt-0 sm:ml-4">
                <div class="font-bold text-xl mb-2">
                  <span class="card-label">Name:</span>
                  {{ selectedBreed.name }}
                </div>
                <span class="card-label">Origin:</span>
                <span
                  class="
                    inline-block
                    bg-gray-200
                    rounded-full
                    px-3
                    py-1
                    text-sm
                    font-semibold
                    text-gray-700
                    mr-2
                    mb-2
                  "
                  >{{ selectedBreed.origin }}</span
                >
                <p class="text-gray-700 text-base">
                  <span class="card-label">Description:</span>
                  {{ selectedBreed.description }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Cat cards -->
      <div
        class="
          w-full
          grid grid-cols-1
          sm:grid-cols-2
          lg:grid-cols-3
          gap-4
          md:gap-6
          max-w
          py-5
        "
      >
        <Card
          v-for="cat in catData"
          :key="cat.id"
          :cat-id="cat.id"
          :image="cat.url"
          :breed="getCatBreed(cat.breeds)"
          :show-breed="!filterByBreed"
        />
      </div>
      <!-- Pagination -->
      <div class="flex justify-center pb-6">
        <Pagination
          v-model="currentPage"
          :total-pages="totalPages"
          :per-page="perPage"
        />
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: 'IndexPage',
  transition: 'fade',
  data() {
    return {
      catData: null,
      // Breed filter
      selectedBreed: '',
      breedTypes: [],
      // Sort
      selectedOrder: 'RAND',
      orderTypes: [
        {
          value: 'RAND',
          name: 'Random',
        },
        {
          value: 'ASC',
          name: 'Ascending',
        },
        {
          value: 'DESC',
          name: 'Descending',
        },
      ],
      // Pagination
      totalPages: 5,
      perPage: 6,
      currentPage: 1,
    }
  },
  head() {
    return {
      title: 'Main page',
    }
  },
  computed: {
    filterByBreed() {
      return this.selectedBreed !== ''
    },
  },
  watch: {
    selectedBreed() {
      this.currentPage = 1
      this.fetchCats()
    },
    selectedOrder() {
      this.currentPage = 1
      this.fetchCats()
    },
    currentPage() {
      if (window.innerWidth < 640) {
        window.scrollTo(0, 0)
      }
      this.fetchCats()
    },
  },
  created() {
    this.fetchCats()
    this.fetchBreeds()
  },
  methods: {
    async fetchCats() {
      this.catData = []
      for (let i = 0; i < this.perPage; i++) {
        this.catData.push({ id: i.toString(), image: '', breeds: [] })
      }

      const breedQuery =
        this.selectedBreed !== '' ? `&breed_id=${this.selectedBreed.id}` : ''

      // Checking how many image cat with selected breed are available to adjust pagination legth
      if (this.filterByBreed) {
        const breedTotal = await this.$axios
          .$get(`images/search?limit=100&breed_id=${this.selectedBreed.id}`)
          .catch(() => {
            // console.log(`Error fetch: ${error}`)
          })

        if (breedTotal) {
          const tp = Math.ceil(breedTotal.length / this.perPage)
          this.totalPages = tp > 5 ? 5 : tp
        }
      } else {
        this.totalPages = 5
      }

      const data = await this.$axios
        .$get(
          `images/search?limit=6&page=${this.currentPage - 1}&order=${
            this.selectedOrder
          }${breedQuery}`
        )
        .catch(() => {
          // console.log(`Error fetch: ${error}`)
        })

      this.catData = data
    },
    async fetchBreeds() {
      const data = await this.$axios.$get(`breeds`).catch(() => {
        // console.log(`Error fetch: ${error}`)
      })

      this.breedTypes = data
    },
    getCatBreed(arr) {
      return arr.length > 0 ? arr[0] : {}
    },
  },
}
</script>
